name: "CI Tests"

on: "pull_request"

jobs:
  build:
    name: "Ruby ${{ matrix.ruby }}, Rails ${{ matrix.rails }}"

    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        ruby: ["2.6", "2.7"]
        rails: ["5.2", "6.0", "master"]

    env:
      RAILS_VERSION: "${{ matrix.rails }}"

    steps:
    - uses: "actions/checkout@v2"

    - name: "Install Ruby ${{ matrix.ruby }}"
      uses: "ruby/setup-ruby@v1"
      with:
        ruby-version: "${{ matrix.ruby }}"

    - name: "Generate lockfile"
      run: |
        bundle config path vendor/bundle
        bundle lock

    - uses: "actions/cache@v1"
      with:
        path: "vendor/bundle"
        key: bundle-${{ hashFiles('Gemfile.lock') }}

    - name: "Build and test"
      run: |
        bin/setup
        bin/rails test
